<!-- Layout -->
@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<!-- End Layout -->
<!-- CSS Render From partials -->
@section head
{
    @RenderSection("head", false)
}
<!-- END CSS Render -->
<!-- Load Partial Modules for Body-->
@Html.Action("Mobile", "Home")
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        @Html.Action("AsideMenu", "Home")
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            @Html.Action("Header", "Home")
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                @Html.Action("Breadcrumb", "Home", new { breadcrumb = ViewBag.Breadcrumb })
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                    @RenderBody()
                </div>
            </div>
            @Html.Action("Footer", "Home")
        </div>
    </div>
</div>
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->
<!-- END Partial Module Load-->
<!-- Script Render From partials -->
@section Scripts{
    @RenderSection("Scripts", false)
}
<!-- END Script Render -->
